# Core Frameworks
streamlit
python-dotenv
requests
pandas
beautifulsoup4

# Data Processing
scikit-learn
numpy

# AI & Utilities
openai
fuzzywuzzy
python-Levenshtein
python-docx
python-slugify

# YouTube
youtube-transcript-api

# Visualization
seaborn
matplotlib
altair
networkx
